<%= form_with model: @user, class: "new-user-form", url: form_submit_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  
  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :zip_code %>
    <%= f.number_field :zip_code %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.text_field :password, value: nil %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, value: nil %>
  </p>

  <%= f.submit "Create Account" %>
<% end %>
